.to-do-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .add-task {
    .add-task__input {
      margin-right: 10px;
      padding: 2px 4px;
    }
    .add-task__button {
      background-color: #4caf50;
      border: none;
      color: white;
      padding: 2px 4px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
    }
  }
}
