.todoList {
  padding: 3rem;
}

.todoListContainer {
  background-color: #fff;
  max-width: 40rem;
  padding: 2rem;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
